/.bash_history
/.bashrc
/.cache
/.conda
/.config
/.dotnet
/.ipython
/.local
/.nv
/.ssh
/.vscode-server
/.wget-hsts
/tth_transformer
transformer_renewed/bristol-tth-transformer-msc_project/notebooks/comet_logs/1888909716c64b66b778ac8628f5a97d.zip  
transformer_renewed/bristol-tth-transformer-msc_project/notebooks/comet_logs/8d5483e5af994402997c5968838a12e8.zip
transformer_renewed/bristol-tth-transformer-msc_project/notebooks/comet_logs/33c85b2d26d74d1eb23bfa360f3827b4.zip  
transformer_renewed/bristol-tth-transformer-msc_project/notebooks/comet_logs/96e627c2e4b448a69e5fe94412061d45.zip
transformer_renewed/bristol-tth-transformer-msc_project/notebooks/comet_logs/54d3ca3ef0ab4b79832e672f9e1a4011.zip  
transformer_renewed/bristol-tth-transformer-msc_project/notebooks/comet_logs/cc075000ebe244cbbeddb9fdc717a68b.zip
transformer_renewed/bristol-tth-transformer-msc_project/notebooks/comet_logs/6821bc39466741a2a4b1e8723021af34.zip  
transformer_renewed/bristol-tth-transformer-msc_project/notebooks/comet_logs/cdb25cd5fbe54a2c8984cecf5a4edfe8.zip
transformer_renewed/bristol-tth-transformer-msc_project/notebooks/comet_logs/7057c99a00a146c3823c41160b4b3525.zip  
transformer_renewed/bristol-tth-transformer-msc_project/notebooks/comet_logs/e40fd3bdba7e4955842af35578db76fc.zip
transformer_renewed/bristol-tth-transformer-msc_project/notebooks/comet_logs/81b68a19e115487c92a972afbc43ba76.zip  
transformer_renewed/bristol-tth-transformer-msc_project/notebooks/comet_logs/f3f1c3290fce4fba9a7e0d889b9c96f3.zip